[2020-09-03 11:53] jbothma opened #1 "North West departments (attempt 2)"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/NORT%20WEST%20PROVINCIAL%20GOVERNMENT%20-%20Covid%20Exp%20Overview.pdf)
- [Archive.org copy](https://web.archive.org/web/20200902091900/http://ocpo.treasury.gov.za/COVID19/Documents/NORT%20WEST%20PROVINCIAL%20GOVERNMENT%20-%20Covid%20Exp%20Overview.pdf)

[2020-09-03 11:54] jbothma opened #2 "North West departments (attempt 1)"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/NORT%20WEST%20PROVINCIAL%20GOVERNMENT%20-%20Covid%20Exp%20Overview.pdf)
- [Archive.org copy](https://web.archive.org/web/20200902091900/http://ocpo.treasury.gov.za/COVID19/Documents/NORT%20WEST%20PROVINCIAL%20GOVERNMENT%20-%20Covid%20Exp%20Overview.pdf)

[2020-09-03 12:28] vukosim opened #3 "Examplars for volunteers"
Could we create an examplar for a full process of what we would want as a perfect output?

Then we can write a guide for others to assist.

@jbothma

[2020-09-03 12:33] jbothma commented on #3
Yep, I'll do a couple of examples tonight at Codebridge Community Evening

[2020-09-03 18:56] #2 closed

[2020-09-17 18:00] jbothma opened #4 "Mpumalanga departments"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/Mpumalanga%20COVID%2019%20Expenditure%20Report.pdf)
- [Archive.org copy](https://web.archive.org/web/20200902091558/http://ocpo.treasury.gov.za/COVID19/Documents/Mpumalanga%20COVID%2019%20Expenditure%20Report.pdf)

[2020-09-17 20:24] jbothma opened #5 "MPUMALANGA"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/Mpumalanga%20COVID%2019%20Expenditure%20Report.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:24] jbothma opened #6 "NORTH WEST"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/NORT%20WEST%20PROVINCIAL%20GOVERNMENT%20-%20Covid%20Exp%20Overview.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:26] jbothma opened #7 "FREE STATE Agriculture and Rural Development pass 1"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/FREE%20STATE%20AGRICULTURE%20AND%20RURAL%20DEVELOPMENT.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:26] jbothma opened #8 "FREE STATE Cooperative Governance and Traditional Affairs pass 1"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/FREE%20STATE%20COGTA.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:26] jbothma opened #9 "FREE STATE Economic, Small Business Development, Tourism and Environmental Affairs pass 1"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/FREE%20STATE%20ECONOMIC%20and%20SMALL%20BUSINESS%20DEVELOPMENT%2c%20TOURISM%20and%20ENVIRONMENTAL%20AFFAIRS.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:26] jbothma opened #10 "FREE STATE Education pass 1"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/FREE%20STATE%20EDUCATION.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:26] jbothma opened #11 "FREE STATE Health pass 1"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/FREE%20STATE%20HEALTH.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:26] jbothma opened #12 "FREE STATE Human Settlements pass 1"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/FREE%20STATE%20HUMAN%20SETTLEMENTS.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:26] jbothma opened #13 "FREE STATE Office of the Premier pass 1"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/FREE%20STATE%20OFFICE%20OF%20THE%20PREMIER.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:26] jbothma opened #14 "FREE STATE Police, Roads and Transport pass 1"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/FREE%20STATE%20POLICE%2c%20ROADS%20and%20TRANSPORT.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:26] jbothma opened #15 "FREE STATE Provincial Treasury pass 1"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/FREE%20STATE%20FINANCE%20TENDER%20BULLETIN%20-%201.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:26] jbothma opened #16 "FREE STATE Provincial Treasury pass 1"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/FREE%20STATE%20FINANCE%20TENDER%20BULLETIN%20-%202.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:26] jbothma opened #17 "FREE STATE Public Works and Infrastructure pass 1"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/FREE%20STATE%20PUBLIC%20WORKS%20INFRASTRUCTURE.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:26] jbothma opened #18 "FREE STATE Social Development pass 1"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/FREE%20STATE%20SOCIAL%20DEVELOPMENT.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:26] jbothma opened #19 "FREE STATE Sport, Arts, Culture and Recreation pass 1"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/FREE%20STATE%20SPORTS%2c%20ARTS%2c%20CULTURE%20AND%20RECREATION.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:26] jbothma opened #20 "GAUTENG pass 1"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/GAUTENG%20PROVINCIAL%20GOVERNMENT.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:26] jbothma opened #21 "GAUTENG Human Settlements pass 1"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/GAUTENG%20HUMAN%20SETTLEMENTS%20Procurement%20for%20COVID-19%20Report.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:26] jbothma opened #22 "EASTERN CAPE pass 1"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/EASTERN%20CAPE%20PROVINCIAL%20GOVERNMENT%20-%20Covid19%20list%20of%20suppliers.pdf)
- [Trusted Archive copy](https://web.archive.org/web/20201208202809/http://ocpo.treasury.gov.za/COVID19/Documents/EASTERN%20CAPE%20PROVINCIAL%20GOVERNMENT%20-%20Covid19%20list%20of%20suppliers.pdf) (Fill this using the archive URL generated by e.g. https:

[2020-09-17 20:26] jbothma opened #23 "WESTERN CAPE pass 1"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/Western%20Cape%20Government%20-%20Covid-19%20Reporting%20Presidency%20verified%20info.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:26] jbothma opened #24 "KWAZULU-NATAL pass 1"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/KZN%20PROVINCIAL%20GOVERNMENT%20-%20Procurement%20Disclosure.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:26] jbothma opened #25 "LIMPOPO March to June COVID Procurement Report pass 1"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/LIMPOPO%20GOVERNMENT%20-%20March%20to%20June%2020%20COVID%20Procument%20Report.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:26] jbothma opened #26 "LIMPOPO Supplier Directors March to June pass 1"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/LIMPOPO%20GOVERNMENT%20-%20SUPPLIER%20DIRECTORS%20-%20COVID-19%20-%20March%202020%20to%20June%202020.pdf)
- [Trusted Archive copy](https://web.archive.org/web/20201203104320/http://ocpo.treasury.gov.za/COVID19/Documents/LIMPOPO%20GOVERNMENT%20-%20SUPPLIER%20DIRECTORS%20-%20COVID-19%20-%20March%202020%20to%20June%202020.pdf) (Fill this us

[2020-09-17 20:26] jbothma opened #27 "NORTHERN CAPE pass 1"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/Northern%20Cape%20COVID-19%20expenditure%20report%20April%20-%20July%202020%20.pdf)
- [Trusted Archive copy](https://web.archive.org/web/20201208195926/http://ocpo.treasury.gov.za/COVID19/Documents/Northern%20Cape%20COVID-19%20expenditure%20report%20April%20-%20July%202020%20.pdf) (Fill this using the archive URL generated by e.g. https:

[2020-09-17 20:30] jbothma opened #28 "FREE STATE Education pass 2"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/FREE%20STATE%20EDUCATION.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:30] jbothma opened #29 "FREE STATE Health pass 2"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/FREE%20STATE%20HEALTH.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:30] jbothma opened #30 "FREE STATE Human Settlements pass 2"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/FREE%20STATE%20HUMAN%20SETTLEMENTS.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:30] jbothma opened #31 "FREE STATE Office of the Premier pass 2"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/FREE%20STATE%20OFFICE%20OF%20THE%20PREMIER.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:30] jbothma opened #32 "FREE STATE Police, Roads and Transport pass 2"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/FREE%20STATE%20POLICE%2c%20ROADS%20and%20TRANSPORT.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:30] jbothma opened #33 "FREE STATE Provincial Treasury Tender bulletin 1 pass 2"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/FREE%20STATE%20FINANCE%20TENDER%20BULLETIN%20-%201.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:30] jbothma opened #34 "FREE STATE Provincial Treasury Tender bulletin 2 pass 2"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/FREE%20STATE%20FINANCE%20TENDER%20BULLETIN%20-%202.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:30] jbothma opened #35 "FREE STATE Public Works and Infrastructure pass 2"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/FREE%20STATE%20PUBLIC%20WORKS%20INFRASTRUCTURE.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:30] jbothma opened #36 "FREE STATE Social Development pass 2"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/FREE%20STATE%20SOCIAL%20DEVELOPMENT.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:30] jbothma opened #37 "FREE STATE Sport, Arts, Culture and Recreation pass 2"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/FREE%20STATE%20SPORTS%2c%20ARTS%2c%20CULTURE%20AND%20RECREATION.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:30] jbothma opened #38 "GAUTENG pass 2"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/GAUTENG%20PROVINCIAL%20GOVERNMENT.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:30] jbothma opened #39 "GAUTENG Human Settlements pass 2"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/GAUTENG%20HUMAN%20SETTLEMENTS%20Procurement%20for%20COVID-19%20Report.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:30] jbothma opened #40 "EASTERN CAPE pass 2"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/EASTERN%20CAPE%20PROVINCIAL%20GOVERNMENT%20-%20Covid19%20list%20of%20suppliers.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:30] jbothma opened #41 "WESTERN CAPE pass 2"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/Western%20Cape%20Government%20-%20Covid-19%20Reporting%20Presidency%20verified%20info.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:30] jbothma opened #42 "KWAZULU-NATAL pass 2"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/KZN%20PROVINCIAL%20GOVERNMENT%20-%20Procurement%20Disclosure.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:30] jbothma opened #43 "LIMPOPO March to June COVID Procurement Report pass 2"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/LIMPOPO%20GOVERNMENT%20-%20March%20to%20June%2020%20COVID%20Procument%20Report.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:30] jbothma opened #44 "LIMPOPO Supplier Directors March to June pass 2"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/LIMPOPO%20GOVERNMENT%20-%20SUPPLIER%20DIRECTORS%20-%20COVID-19%20-%20March%202020%20to%20June%202020.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:30] jbothma opened #45 "NORTHERN CAPE pass 2"
- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/Northern%20Cape%20COVID-19%20expenditure%20report%20April%20-%20July%202020%20.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #46 "National Assembly (NA) - Public Service Commission (PSC) pass 1"
Constitutional Body

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/PUBLIC%20SERVICE%20COMMISSION%20-%20LIST%20OF%20PROCURED%20GOODS%20OR%20SERVICES%20TO%20FIGHT%20THE%20SPREAD%20COVID19.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #47 "The Presidency - pass 1"
Presidency

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/PRESIDENCY%20-%20REPORT%20TO%20THE%20IMC%20-%20RFI-Breakdown%20PPEs%20Expenditure%2012%20AUG%202020.pdf)
- [Trusted Archive copy](https://web.archive.org/web/20201213003740/http://ocpo.treasury.gov.za/COVID19/Documents/PRESIDENCY%20-%20REPORT%20TO%20THE%20IMC%20-%20RFI-Breakdown%20PPEs%20Expenditure%2012%20AUG%202020.pdf) (Fi

[2020-09-17 20:39] jbothma opened #48 "The Presidency - Department of Planning, Monitoring and Evaluation (DPME) pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/PLANNING%20MONITORING%20and%20EVALUATION%20-%20Covid%20-19%20Expenditure.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #49 "The Presidency - Department of Women, Youth and Persons with Disabilities (DWYPD) pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/WOMEN%20YOUTH%20AND%20PERSONS%20WITH%20DISABILITY%20-%20REPORT%20ON%20COVID%2019%20SPENT%2007082020.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #50 "The Presidency - Government Communication and Information System (GCIS) pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/GCIS%20-%20REPORT%20on%20COVID%20Expenditure.pdf)
- [Trusted Archive copy](https://web.archive.org/web/20201126013442/http://ocpo.treasury.gov.za/COVID19/Documents/GCIS%20-%20REPORT%20on%20COVID%20Expenditure.pdf) (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #51 "The Presidency - Statistics South Africa (Stats SA) pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/STATS%20SA%20-%20Annexure%20A%20-%20Covid%2010%20Related%20Activities%20Procurement%2031%20July%202020.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #52 "The Presidency - Statistics South Africa (Stats SA) pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/STATS%20SA%20-%20Annexure%20B%20-%20Covid%2010%20PPE%20Procurement%2031%20July%202020.pdf)
- [Trusted Archive copy](https://web.archive.org/web/20201105085646/http://ocpo.treasury.gov.za/COVID19/Documents/STATS%20SA%20-%20Annexure%20B%20-%20Covid%2010%20PPE%20Procurement%2031%20July%202020.pdf) (Fill this using the a

[2020-09-17 20:39] jbothma opened #53 "The Presidency - Brand South Africa pass 1"
Public Entity

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/BRAND%20SA%20-%20Report%20on%20covid%20expenditure.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #54 "The Presidency - Media Development and Diversity Agency (MDDA) pass 1"
Public Entity

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/MDDA%20-%20Report%20on%20Covid%20Expenditure.pdf)
- [Trusted Archive copy](https://web.archive.org/web/20201106210738/http://ocpo.treasury.gov.za/COVID19/Documents/MDDA%20-%20Report%20on%20Covid%20Expenditure.pdf) (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #55 "Department of Cooperative Governance (DCoG) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/COOPERATIVE%20GOVERNANCE%20-%20Preliminary%20Assessment%20Report%20on%20procurement%20of%20personal%20protective%20equipment.pdf)
- [Trusted Archive copy](https://web.archive.org/web/20201126193417/http://ocpo.treasury.gov.za/COVID19/Documents/COOPERATIVE%20GOVERNANCE%20-%20Preliminary%20Assessment%20Report%20on%20pr

[2020-09-17 20:39] jbothma opened #56 "Department of Cooperative Governance (DCoG) - Municipal Infrastructure Support Agent (MISA) pass 1"
Public Entity

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/MISA%20Accounting%20Officer%27s%20Report_PPE%20Procurement%2007%20Aug%202020.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #57 "Department of International Relations and Cooperation (DIRCO) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/DIRCO%20-%20Information%20related%20to%20quotations%20for%20COVID-19%20procurement%20-%20with%20explanatory%20notes.pdf)
- [Trusted Archive copy](https://web.archive.org/web/20201126195235/http://ocpo.treasury.gov.za/COVID19/Documents/DIRCO%20-%20Information%20related%20to%20quotations%20for%20COVID-19%20procurement%

[2020-09-17 20:39] jbothma opened #58 "Department of Public Works and Infrastructure (DPWI) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/PUBLIC%20WORKS%20AND%20INFRASTRUCTURE%20-%20Information%20regarding%20suppliers%20and%20amounts%20related%20to%20COVID19.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #59 "Department of Traditional Affairs (DTA) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/TRADITIONAL%20AFFAIRS%20-%20Report%20on%20PPE%20Spending%207%20August%202020.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #60 "Department of Correctional Services (DCS) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/CORRECTIONAL%20SERVICES%20-%20SCHEDULE%20OF%20PROCUREMENT%20TO%20COMBAT%20COVID19%20-%2001%20MARCH%202020%20-%2031%20JULY%202020.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #61 "Department of Defence (DoD) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/DEFENCE%20-%20COVID%20EXPENDITURE.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #62 "Department of Home Affairs (DHA) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/HOME%20AFFAIRS%20-%20COVID%20SUMMARY.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #63 "Department of Home Affairs (DHA) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/HOME%20AFFAIRS%20-%20DETAIL%20COVID%2019%20PROCUREMENT.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #64 "Department of Justice and Constitutional Development (DoJ&CD) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/DOJ%20and%20CD%20-%20PPE%2007%20August%202020.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #65 "Department of Justice and Constitutional Development (DoJ&CD) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/DOJ%20CD%20-%20Fumigation%20Procurement%20from%201%20March%20-%2029%20July%202020.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #66 "Department of Justice and Constitutional Development (DoJ&CD) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/DOJ%20CD%20-%20PPE%20Procurement%20As%20at%20End%20July%202020.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #67 "Department of Justice and Constitutional Development (DoJ&CD) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/DOJ%20CD%20-%20PPEs%20from%201%20March%20-%2029%20July%202020.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #68 "Department of Justice and Constitutional Development (DoJ&CD) - National Prosecuting Authority of South Africa (NPA) pass 1"
Judicial Institution

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/NATIONAL%20PROSECUTING%20AUTHORITY_PPE%20-%201%20Apr%202020%20to%2031%20March%202021%20-%20Finalized%20as%20at%2007-08-2020.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #69 "Department of Justice and Constitutional Development (DoJ&CD) - Legal Aid South Africa pass 1"
Public Entity

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/Legal%20Aid%20SA%20-%20COVID%20EXPENDITURE%2007.08.2020.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #70 "Department of Justice and Constitutional Development (DoJ&CD) - Special Investigating Unit (SIU) pass 1"
Public Entity

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/SIU%20-%20Response%20to%20Parliamentary%20question%20on%20Covid%20and%20PPE%27s%20Aug%202020.pdf)
- [Trusted Archive copy](https://web.archive.org/web/20201113002553/http://ocpo.treasury.gov.za/COVID19/Documents/SIU%20-%20Response%20to%20Parliamentary%20question%20on%20Covid%20and%20PPE%27s%20Aug%202020.pdf) (Fill this usi

[2020-09-17 20:39] jbothma opened #71 "South African Police Service (SAPS) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/SAPS%20-%20PPE%20PROCUREMENT%20%28DETAILS%29.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #72 "South African Police Service (SAPS) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/SAPS%20-%20PPE%20PROCUREMENT.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #73 "South African Police Service (SAPS) - Civilian Secretariat for Police Service (CSPS) pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/CSPS%20-%20PPE%20PROCUREMENT.pdf)
- [Trusted Archive copy](https://web.archive.org/web/20201109102943/http://ocpo.treasury.gov.za/COVID19/Documents/CSPS%20-%20PPE%20PROCUREMENT.pdf) (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #74 "South African Police Service (SAPS) - Independent Police Investigative Directorate (IPID) pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/IPID%20-%20PPE%20PROCUREMENT.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #75 "South African Police Service (SAPS) - Private Security Industry Regulatory Authority (PSIRA) pass 1"
Public Entity

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/PSIRA%20-%20PPE%20PROCUREMENT.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #76 "State Security Agency (SSA) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/SSA%20-%20COVID19%20PPE%20Procurement%20Status%20Report%20with%20receipt%20dates.pdf)
- [Trusted Archive copy](https://web.archive.org/web/20201107183924/http://ocpo.treasury.gov.za/COVID19/Documents/SSA%20-%20COVID19%20PPE%20Procurement%20Status%20Report%20with%20receipt%20dates.pdf) (Fill this using the archive URL

[2020-09-17 20:39] jbothma opened #77 "Department of Public Enterprises (DPE) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/PUBLIC%20ENTERPRISES%20-%2011082020%20Covid19%20Expenditure%20Report.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #78 "Department of Public Service and Administration (DPSA) - National School of Government (NSG) pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/NATIONAL%20SCHOOL%20OF%20GOVERNMENT%28NSG%29%20-%20COVID-19%20PPE%20PROCUREMENT.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #79 "Department of Public Service and Administration (DPSA) - Centre for Public Service Innovation (CPSI) pass 1"
Public Entity

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/CENTRE%20FOR%20PUBLIC%20SERVICE%20INNOVATION%20%28CPSI%29%20-%20Covid19%20expenditure%20August%202020.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #80 "National Treasury - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/NATIONAL%20TREASURY%20-%20Procurement%20during%20the%20period%20of%20the%20COVID-19%20pandemic.pdf)
- [Trusted Archive copy](https://web.archive.org/web/20201105205825/http://ocpo.treasury.gov.za/COVID19/Documents/NATIONAL%20TREASURY%20-%20Procurement%20during%20the%20period%20of%20the%20COVID-19%20pandemic.pdf) (Fil

[2020-09-17 20:39] jbothma opened #81 "National Treasury - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/NATIONAL%20TREASURY%20ENTITIES%20-%20Report%20on%20COVID-19%20spending.pdf)
- [Trusted Archive copy](https://web.archive.org/web/20201204141213/http://ocpo.treasury.gov.za/COVID19/Documents/NATIONAL%20TREASURY%20ENTITIES%20-%20Report%20on%20COVID-19%20spending.pdf) (Fill this using the archive URL generated by e.g. h

[2020-09-17 20:39] jbothma opened #82 "Department of Agriculture, Land Reform and Rural Development (DALRRD) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/AGRICULTURE%2c%20LAND%20REFORM%20AND%20RURAL%20DEVELOPMENT%20-%20DETAIL%20PROCUREMENT%20REPORT%20COVID19.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #83 "Department of Agriculture, Land Reform and Rural Development (DALRRD) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/AGRICULTURE%2c%20LAND%20REFORM%20AND%20RURAL%20DEVELOPMENT%20-%20SUMMARY%20PROCUREMENT%20REPORT%20COVID19.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:39] jbothma opened #84 "Department of Agriculture, Land Reform and Rural Development (DALRRD) - Agricultural Research Council (ARC) pass 1"
Public Entity

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/ARC%20-%20Procurement%20of%20PPEs%20Report%2007.08.2020.pdf)
- [Trusted Archive copy](https://web.archive.org/web/20201202175846/http://ocpo.treasury.gov.za/COVID19/Documents/ARC%20-%20Procurement%20of%20PPEs%20Report%2007.08.2020.pdf) (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page No

[2020-09-17 20:40] jbothma opened #85 "Department of Agriculture, Land Reform and Rural Development (DALRRD) - National Agricultural Marketing Council (NAMC) pass 1"
Public Entity

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/NAMC%20-%20Report%20Procurement%20of%20PPEs.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:40] jbothma opened #86 "Department of Agriculture, Land Reform and Rural Development (DALRRD) - Onderstepoort Biological Products (OBP) pass 1"
Public Entity

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/Onderstepoort%20Biological%20Products%20COVID%20Procurement%20Report.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:40] jbothma opened #87 "Department of Agriculture, Land Reform and Rural Development (DALRRD) - Perishable Products Export Control Board (PPECB) pass 1"
Public Entity

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/PPECB%20-%20Response%20%28Procurement%20during%20period%20of%20COVID-19%20pandemic%29.pdf)
- [Trusted Archive copy](https://web.archive.org/web/20201128111142/http://ocpo.treasury.gov.za/COVID19/Documents/PPECB%20-%20Response%20%28Procurement%20during%20period%20of%20COVID-19%20pandemic%29.pdf) (Fill this using the archive

[2020-09-17 20:40] jbothma opened #88 "Department of Communications and Digital Technologies (DCDT) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/COMMUNICATIONS%20AND%20DIGITAL%20TECHNOLOGY%20-%20COVID%20procurement%20spending%2018.08.2020.pdf)
- [Trusted Archive copy](https://web.archive.org/web/20201202174745/http://ocpo.treasury.gov.za/COVID19/Documents/COMMUNICATIONS%20AND%20DIGITAL%20TECHNOLOGY%20-%20COVID%20procurement%20spending%2018.08.2020.pdf) (Fill

[2020-09-17 20:40] jbothma opened #89 "Department of Communications and Digital Technologies (DCDT) - Independent Communications Authority of South Africa (ICASA) pass 1"
Constitutional Body

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/ICASA%20Annexure%20A%20-%20COVID%20Procurement%20Spending%20%28Lt%20I-Ministerial%20Committee%29.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:40] jbothma opened #90 "Department of Communications and Digital Technologies (DCDT) - Broadband Infraco pass 1"
Public Entity

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/BROADBAND%20INFRACO%20-%20Response%20Procurement%20Spending%20During%20COVID-19%20Pandemic%2020200824.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:40] jbothma opened #91 "Department of Communications and Digital Technologies (DCDT) - Film and Publication Board (FPB) pass 1"
Public Entity

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/FILM%20AND%20PUBLICATION%20BOARD%20-%20Procurement%20of%20COVID-19%20Related%20Goods%20and%20Services.pdf)
- [Trusted Archive copy](https://web.archive.org/web/20201106202504/http://ocpo.treasury.gov.za/COVID19/Documents/FILM%20AND%20PUBLICATION%20BOARD%20-%20Procurement%20of%20COVID-19%20Related%20Goods%20and%20Services.p

[2020-09-17 20:40] jbothma opened #92 "Department of Communications and Digital Technologies (DCDT) - National Electronic Media Institute of South Africa (NEMISA) pass 1"
Public Entity

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/NEMISA%20-%20Details%20of%20procurement%20of%20PPE%20and%20associated%20services%20from%20service%20providers.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:40] jbothma opened #93 "Department of Communications and Digital Technologies (DCDT) - Sentech pass 1"
Public Entity

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/SENTECH%20SOC%20LIMITED%20-%20PPE%20SERVICE%20PROVIDERS%20AUGUST%202020.pdf)
- [Trusted Archive copy](https://web.archive.org/web/20201202191813/http://ocpo.treasury.gov.za/COVID19/Documents/SENTECH%20SOC%20LIMITED%20-%20PPE%20SERVICE%20PROVIDERS%20AUGUST%202020.pdf) (Fill this using the archive URL generated by e.g. https

[2020-09-17 20:40] jbothma opened #94 "Department of Communications and Digital Technologies (DCDT) - South African Post Office (SAPO) pass 1"
Public Entity

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/SAPO%20-%20Summary%20of%20Total%20COVID%20Procurement%20Spending.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:40] jbothma opened #95 "Department of Communications and Digital Technologies (DCDT) - South African Post Office (SAPO) pass 1"
Public Entity

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/SAPO%20-%20%20March%202020%20to%20August%202020%20Covid%2019%20-%20Detailed%20Spending.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:40] jbothma opened #96 "Department of Environment, Forestry and Fisheries (DEFF) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/FORESTRY%2c%20FISHERIES%20AND%20ENVIRONMENT%20-%20Covid19%20Procurement%20for%202020-21%20FY%20as%20of%2007%20August%202020.pdf)
- [Trusted Archive copy](https://web.archive.org/web/20201112222222/http://ocpo.treasury.gov.za/COVID19/Documents/FORESTRY,%20FISHERIES%20AND%20ENVIRONMENT%20-%20Covid19%20Procurement%20for

[2020-09-17 20:40] jbothma opened #97 "Department of Mineral Resources and Energy (DMRE) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/DMRE%20Inter-Ministerial%20Commitee%20-%20Covid%2019%20%28PPE%29%20Procurement.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:40] jbothma opened #98 "Department of Science and Innovation (DSI) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/SCIENCE%20and%20INNOVATION%20and%20ENTITIES%20-%20COVID19%20PROCUREMENTS.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:40] jbothma opened #99 "Department of Small Business Development (DSBD) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/SMALL%20BUSINESS%20DEVELOPMENT%20and%20ENTITIES%20PORTFOLIO%20-%20RESPONSE%20Aug%2011%202020.pdf)
- [Trusted Archive copy](https://web.archive.org/web/20201204142105/http://ocpo.treasury.gov.za/COVID19/Documents/SMALL%20BUSINESS%20DEVELOPMENT%20and%20ENTITIES%20PORTFOLIO%20-%20RESPONSE%20Aug%2011%202020.pdf) (Fill th

[2020-09-17 20:40] jbothma opened #100 "Department of Tourism (DT) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/TOURISM%20and%20SA%20TOURISM%20-%20COVID%20SPEND.pdf)
- [Trusted Archive copy](https://web.archive.org/web/20201202203625/http://ocpo.treasury.gov.za/COVID19/Documents/TOURISM%20and%20SA%20TOURISM%20-%20COVID%20SPEND.pdf) (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:40] jbothma opened #101 "Department of Trade, Industry and Competition (the DTIC) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/TRADE%2cINDUSTRY%20AND%20COMPETITION%20AND%20ENTITIES%20-%20PPE%20Annex.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:40] jbothma opened #102 "Department of Transport (DOT) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/TRANSPORT%20-%20PPE%20Procurement%20submission.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:40] jbothma opened #103 "Department of Basic Education (DBE) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/BASIC%20EDUCATION%20-%20Covid19%20Expenditure.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:40] jbothma opened #104 "Department of Health (DoH) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/HEALTH%20PPE%20.pdf)
- [Trusted Archive copy](https://web.archive.org/web/20201106205700/http://ocpo.treasury.gov.za/COVID19/Documents/HEALTH%20PPE%20.pdf) (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:40] jbothma opened #105 "Department of Higher Education and Training (DHET) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/HIGHER%20EDUCATION%20AND%20TRAINING%20and%20NAT%20SKILLS%20FUND%20-%20COVID-19%20PROCUREMENTS.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:40] jbothma opened #106 "Department of Social Development (DSD) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/SOCIAL%20DEVELOPMENT%20-%20COVID%20LIST.pdf)
- [Trusted Archive copy](https://web.archive.org/web/20201112233159/http://ocpo.treasury.gov.za/COVID19/Documents/SOCIAL%20DEVELOPMENT%20-%20COVID%20LIST.pdf) (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:40] jbothma opened #107 "Department of Social Development (DSD) - National Development Agency (NDA) pass 1"
Public Entity

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/NATIONAL%20DEVELOPMENT%20AGENCY%20%20-COVID-19.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:40] jbothma opened #108 "Department of Social Development (DSD) - South African Social Security Agency (SASSA) pass 1"
Public Entity

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/SASSA%20-%20Covid%2019%20Procurement%20March%202020%20-%20Head%20Office%20and%20Regions%20PPE%20only.pdf)
- [Trusted Archive copy](https://web.archive.org/web/20201108113643/http://ocpo.treasury.gov.za/COVID19/Documents/SASSA%20-%20Covid%2019%20Procurement%20March%202020%20-%20Head%20Office%20and%20Regions%20PPE%20only.pdf

[2020-09-17 20:40] jbothma opened #109 "Department of Sports, Arts and Culture (DSAC) - pass 1"
National Department

- [Source URL](http://ocpo.treasury.gov.za/COVID19/Documents/SPORT%2c%20ARTS%20AND%20CULTURE%20-%20Procument%20During%20Covid19%20Pandemic.pdf)
- [Trusted Archive copy]() (Fill this using the archive URL generated by e.g. https://archive.org/web/ Save Page Now)

[2020-09-17 20:44] #6 closed

[2020-09-20 07:35] schalkventer commented on #55
Hey. Is it OK if I take this one?

[2020-09-20 07:37] jbothma commented on #55
Please do!

On Sun, 20 Sep 2020, 09:35 Schalk Venter, <notifications@github.com> wrote:

[2020-09-24 06:30] JasonTame commented on #42
Hey @jbothma Can I take this one on?

[2020-09-24 07:08] jbothma commented on #42
Yeah please do! Thanks!

[2020-09-24 09:30] Lean3Viljoen94 commented on #108
Hi, mind if I pick up this one?

[2020-09-24 09:31] Lean3Viljoen94 commented on #109
And this one

[2020-09-24 09:31] Lean3Viljoen94 commented on #107
And this one :)

[2020-09-24 10:58] JonathanAspeling commented on #47
I'm keen to take this one @jbothma

[2020-09-24 11:07] jbothma commented on #47
Awesome! Go for it!

[2020-09-24 12:04] JonathanAspeling commented on #47
Cool Ready to do a PR - but think the issue first has to be assigned to me @jbothma ? :)

[2020-09-24 12:07] JonathanAspeling commented on #47
![image](https://user-images.githubusercontent.com/42679894/94142930-4d4df100-fe6f-11ea-9b93-8c99861bdb69.png)

[2020-09-24 12:09] JonathanAspeling commented on #47
I've taken the two tables and ran them through Tabula :D

The one came out very nice the other not so much - so I tried formatting it into a contiguous table.

[(JonathanFormatVersion) PPE PROCUREMENT - PRESIDENCY - REPORT TO THE IMC - RFI-Breakdown PPEs Expenditure 12 AUG 2020.zip](https://github.com/South-Africa-Government-Procurement/Data-cleaning/files/5275839/JonathanFormatVersion.PPE.PROCURE

[2020-09-24 19:19] schalkventer commented on #109
Go for it!

[2020-09-24 19:20] schalkventer commented on #108
Yup!

[2020-09-24 19:21] schalkventer commented on #107
👍

[2020-09-25 12:06] schalkventer commented on #47
Ah, I might need to update the video to deal with this. Thanks for point this out @JonathanAspeling

[2020-09-26 09:17] JasonTame commented on #42
Thanks! Working on it now. Not a straightforward process, had to first OCR it and then export each table to CSV and fix the formatting, tabula keeps splitting words into separate columns. Will tackle it when I have gaps throughout the weekend :)

[2020-09-27 15:18] JasonTame commented on #24
@jbothma Somehow missed there was a pass 1 of the KZN data as well. Looking through it, it looks exactly the same as pass 2. Should it be extracted anyway?

[2020-09-27 15:20] jbothma commented on #24
Hey! The idea with pass1 and pass2 is that different people extract the same data twice then we can compare and spot errors so just do one of them.

[2020-09-27 16:39] JasonTame commented on #24
Ah! Cool, makes sense

[2020-09-28 14:20] sacheen commented on #106
I'd like to try this. can I have this one?

[2020-09-28 14:21] jbothma commented on #106
Go for it! Thanks!

On Mon, 28 Sep 2020, 16:20 Sacheen Dhanjie, <notifications@github.com>
wrote:

[2020-09-28 15:38] schalkventer commented on #24
@JasonTame TBH, in retrospect we should have probably called them `Pass A` and `Pass B` since there is no implied sequence here, the intent is merely to have two people do the same task so that we can compare the outputs for correctness.

[2020-09-29 05:20] sacheen commented on #105
could i take this one?

[2020-09-29 05:21] sacheen commented on #104
could i take this one?

[2020-09-29 05:21] sacheen commented on #103
could i take this one?

[2020-09-29 05:22] sacheen commented on #101
could i take this one?

[2020-09-29 05:23] sacheen commented on #98
could i take this one?

[2020-09-29 06:19] jbothma commented on #105
please do!

[2020-09-29 06:19] jbothma commented on #104
please do!

[2020-09-29 06:19] jbothma commented on #103
please do!

[2020-09-29 06:19] jbothma commented on #101
please do!

[2020-09-29 06:19] jbothma commented on #98
please do!

[2020-09-29 06:29] jbothma commented on #3
https://join.keepthereceipt.org.za/

[2020-09-29 06:29] #3 closed

[2020-09-29 06:32] #42 closed

[2020-09-29 06:33] jbothma commented on #55
shouldn't we merge this?

[2020-09-29 07:57] vukosim commented on #3
Looks great @jbothma

[2020-09-29 12:06] JesseVermeulen123 commented on #27
Hey, could I please do this one?

[2020-09-29 13:32] jbothma commented on #27
Hi!

National departments and the Free State are higher priority, but if you'd
prefer this one, that'd also be helpful - go ahead :) Thanks!

JD

On Tue, 29 Sep 2020 at 14:06, Jessé Vermeulen <notifications@github.com>
wrote:

[2020-09-30 18:41] runningdeveloper commented on #96
Can I have this one.
This project is an awesome idea!

[2020-09-30 18:49] jbothma commented on #96
Grab it! Thanks for joining!

Best
JD

On Wed, 30 Sep 2020, 20:42 Geoffrey Hunt, <notifications@github.com> wrote:

[2020-09-30 22:56] theodowling commented on #92
Hi @jbothma Can I grab this one?

[2020-10-01 09:41] patbpm commented on #87
Good Day

I would like to be assigned with issues.

I am looking forward

[2020-10-01 13:00] jbothma commented on #87
Fantastic! Please do

JD

On Thu, 01 Oct 2020, 11:41 Patrick Bope, <notifications@github.com> wrote:

[2020-10-01 17:32] JoreVH commented on #97
Can I have this one please?

[2020-10-01 18:15] JonathanAspeling commented on #4
@jbothma Taking this one! :D

[2020-10-01 18:18] JoreVH commented on #97
[Uploading DMRE Inter-Ministerial Commitee - Covid 19 (PPE) Procurement_ocr.pdf…]()

[2020-10-01 18:25] JoreVH commented on #52
[tabula-STATS SA - Annexure B - Covid 10 PPE Procurement 31 July 2020.xlsx](https://github.com/South-Africa-Government-Procurement/Data-cleaning/files/5314080/tabula-STATS.SA.-.Annexure.B.-.Covid.10.PPE.Procurement.31.July.2020.xlsx)

[2020-10-01 19:06] rudithefox commented on #102
Hi there. Can I give this one a go?

[2020-10-01 19:35] nefiger commented on #100
can I grab this?

[2020-10-01 19:43] nefiger commented on #100
@schalkventer http://ocpo.treasury.gov.za/COVID19/Documents/TOURISM%20and%20SA%20TOURISM%20-%20COVID%20SPEND.pdf - no text found, this is an image file

[2020-10-01 20:16] nefiger commented on #99
mine?

[2020-10-01 21:12] jbothma commented on #99
You'd be a star, as always. Thanks!

On Thu, 01 Oct 2020, 22:16 nefiger, <notifications@github.com> wrote:

[2020-10-01 21:13] jbothma commented on #102
Please do! Thanks!

On Thu, 01 Oct 2020, 21:06 rudithefox, <notifications@github.com> wrote:

[2020-10-02 07:42] schalkventer commented on #100
Thanks for the heads up @nefiger. @jbothma is this where we whip out the OCR flow?

[2020-10-02 07:42] schalkventer commented on #97
Go for it @JoreVH!

[2020-10-02 07:42] schalkventer commented on #4
Go for it @JonathanAspeling!

[2020-10-02 07:43] schalkventer commented on #92
Go for it @theodowling!

[2020-10-02 08:48] martink-rsa commented on #85
I would like this, please.

[2020-10-02 09:42] martink-rsa commented on #85
https://github.com/South-Africa-Government-Procurement/Data-cleaning/pull/120

[2020-10-02 09:43] douglas86 commented on #95
Hey, can I sort through this file.

[2020-10-02 12:10] zoidyzoidzoid commented on #71
I'll do this one. 👋

[2020-10-02 12:10] zoidyzoidzoid commented on #62
I'll do this one. 👋

[2020-10-02 12:10] zoidyzoidzoid commented on #82
I'll do this one. 👋

[2020-10-02 16:08] jbothma commented on #71
Thanks!

[2020-10-02 19:13] 22xb commented on #94
Hi, I'd like to go through this file

[2020-10-02 19:14] 22xb commented on #93
Hi, I'd like to go through this file

[2020-10-03 07:12] NicolaasJKotze commented on #10
Hi. May I do this one please?

[2020-10-03 07:41] NarothamSai commented on #13
Hi, can I work on this?

[2020-10-03 07:47] schalkventer commented on #13
Go for it @NarothamSai !

[2020-10-03 07:48] schalkventer commented on #10
Go for it!

[2020-10-03 07:48] schalkventer commented on #93
Go for it @DK-Nkabinde

[2020-10-03 07:48] schalkventer commented on #94
All yours :)

[2020-10-03 07:48] schalkventer commented on #95
Go for it @douglas86

[2020-10-03 08:04] JasonTame commented on #11
@jbothma I'm happy to take this one on

[2020-10-03 08:07] JasonTame commented on #36
@jbothma I'm happy to take this one on

[2020-10-03 08:08] NarothamSai commented on #14
Hi, can I work on this one?

[2020-10-03 08:15] vrautenbach commented on #91
Hi, can you please assign this one to me. Thanks!

[2020-10-03 08:17] tristynferreiro commented on #5
@jbothma can I have this one?

[2020-10-03 08:18] georgezee commented on #78
@jbothma - this is the first one I found - ok for me to take this one?

[2020-10-03 08:24] jbothma commented on #78
Please do!

On Sat, 3 Oct 2020 at 10:18, George Ziady <notifications@github.com> wrote:

[2020-10-03 08:26] jbothma commented on #5
go for it! Thanks!

[2020-10-03 08:26] jbothma commented on #91
Will do, thanks!

[2020-10-03 08:28] jbothma commented on #11
Thanks!

[2020-10-03 08:28] jbothma commented on #36
Thanks!

[2020-10-03 08:29] jbothma commented on #14
Please do! Thanks!

[2020-10-03 08:31] CamGreen commented on #28
Hi, can you please assign me to this issue? Thanks.

[2020-10-03 08:37] tristynferreiro commented on #5
<img width="805" alt="Screenshot 2020-10-03 at 10 36 12" src="https://user-images.githubusercontent.com/65689669/94987149-5112ff00-0564-11eb-9e09-7076da37aa73.png">
Should I capture this information?

[2020-10-03 08:40] capesean commented on #53
Hey! Can I get this one?

[2020-10-03 08:43] jbothma commented on #82
Thanks!

[2020-10-03 08:50] schalkventer commented on #53
Go for it @capesean

[2020-10-03 08:50] schalkventer commented on #53
cap

[2020-10-03 08:57] schalkneethling commented on #21
I can grab `pass 1` @jbothma

[2020-10-03 08:58] Lean3Viljoen94 commented on #109
This one is image-based as well 🙃

[2020-10-03 08:58] sacheen commented on #101
For these big files with various tables, do i submit a pull request for each table? or how does one submit multiple files in one PR?

[2020-10-03 08:59] CamGreen commented on #30
Hi, Can you please assign me to this issue, thanks.

[2020-10-03 09:02] ZukiswaK commented on #29
Can I try my luck with this one? (going slowly, slowly)

[2020-10-03 09:05] schalkventer commented on #29
Go for it @ZukiswaK!

[2020-10-03 09:06] schalkventer commented on #30
Go for it @CamGreen!

[2020-10-03 09:06] schalkventer commented on #21
Go for it @schalkneethling!

[2020-10-03 09:07] vrautenbach commented on #90
Hi, can you please assign this one to me. Thanks!

[2020-10-03 09:10] NarothamSai commented on #19
Hi, Can I work on this one?

[2020-10-03 09:11] tristynferreiro commented on #5
@jbothma when using tabula it made one joint table. Should I leave it in this state or separate the tables so that they mirror the PDF?

[2020-10-03 09:11] CamGreen commented on #37
Hi, Can you please assign me to this issue, thanks.

[2020-10-03 09:16] schalkneethling commented on #39
PR for pass 1 is open so, I can move onto pass 2?

[2020-10-03 09:17] jbothma commented on #39
Someone other than you shold do pass 2 so that we maximise our chance of finding errors :)

[2020-10-03 09:18] schalkneethling commented on #20
I can grab this one @jbothma

[2020-10-03 09:19] vrautenbach commented on #89
Hi, can you please assign this one to me. Thanks!

[2020-10-03 09:21] CamGreen commented on #7
Hi, I am happy to take this one! Thanks.

[2020-10-03 09:28] CamGreen commented on #86
Hi, I am happy to tackle this one. Thanks

[2020-10-03 09:29] #85 closed

[2020-10-03 09:34] vrautenbach commented on #88
Hi, can you please assign this one to me. Thanks!

[2020-10-03 09:35] jbothma commented on #104
Thanks!

Please make sure everything that's one row in the table in the PDF is one row in the CSV.

![Screenshot_2020-10-03_11-32-31](https://user-images.githubusercontent.com/235801/94988257-393f7900-056c-11eb-8c4a-0d7f049f703c.png)
![Screenshot_2020-10-03_11-32-16](https://user-images.githubusercontent.com/235801/94988260-3b093c80-056c-11eb-9587-0b7e2494a999.png)

See how it's all one row here (

[2020-10-03 09:37] jbothma commented on #104
Watch out - the `Name of entity` and `Total amount` columns have been merged - they need to be split
![Screenshot_2020-10-03_11-38-55](https://user-images.githubusercontent.com/235801/94988381-08ac0f00-056d-11eb-8592-ad976c0b72fd.png)

![Screenshot_2020-10-03_11-37-16](https://user-images.githubusercontent.com/235801/94988372-ec0fd700-056c-11eb-8929-24508b913b2f.png)

[2020-10-03 09:48] CamGreen commented on #76
Hey, will take this one. Thanks.

[2020-10-03 09:54] vrautenbach commented on #84
Hi, can you please assign this one to me. Thanks!

[2020-10-03 09:56] schalkventer commented on #84
Go for it @vrautenbach!

[2020-10-03 09:57] schalkventer commented on #76
Go for it!

[2020-10-03 09:57] schalkventer commented on #88
Go for it @vrautenbach!

[2020-10-03 09:59] douglas86 commented on #83
hey, can i take this one.

[2020-10-03 10:07] OliverVermeulen commented on #45
Hey, I'm doing this one.

[2020-10-03 10:09] schalkventer-demo commented on #56
Can I take this one?

[2020-10-03 10:10] schalkventer-demo commented on #70
Can I take this one?

[2020-10-03 10:13] CamGreen commented on #75
Happy to take this one, thanks!

[2020-10-03 10:22] #13 closed

[2020-10-03 10:23] joshramsbottom commented on #61
Hello! May I take this one?

[2020-10-03 10:25] jbothma opened #151 "Add to README "Sorry, your PDF file is image-based; it does not have any embedded text. It might have been scanned from paper... Tabula isn't able to extract any data from image-based PDFs. Click the Help button for more information.""
https://zatech.slack.com/archives/C019Y5J754K/p1601720577120900

zoid:progress-pride-flag: Today at 12:22 PM
Sorry, your PDF file is image-based; it does not have any embedded text. It might have been scanned from paper... Tabula isn't able to extract any data from image-based PDFs. Click the Help button for more information.
ruh-roh

JD Bothma  2 minutes ago
We need to OCR this file first

JD Bot

[2020-10-03 10:26] jbothma commented on #151
of course that script is for very techy people

If you have good PDF OCR software you can use that.

If you don't, ask someone for help

[2020-10-03 10:29] zoidyzoidzoid commented on #151
Dropped the Docker bit in the gist:

https://gist.github.com/zoidbergwill/e48ddeab1552c868a4c140fd14c4aeb2

On MacOS I just did `brew install tesseract` to get tesseract 4

[2020-10-03 10:31] jbothma commented on #36
Brilliant!

[2020-10-03 10:31] #36 closed

[2020-10-03 10:40] NicolaasJKotze commented on #8
I will do this one.

[2020-10-03 10:49] Lali-Sed commented on #9
Hey JD, can I do this one?

[2020-10-03 10:53] douglas86 commented on #81
Hey, can i take this one.

[2020-10-03 10:53] georgezee commented on #77
I'll take this one.

[2020-10-03 10:55] vrautenbach commented on #84
@schalkventer @jbothma Sorry, I am struggling with this one. I have done OCR, but not getting some of the rows out. For example the amounts are completely cut off.

[2020-10-03 10:58] vrautenbach commented on #80
Hi, can you please assign this one to me. Thanks!

[2020-10-03 11:00] #151 closed

[2020-10-03 11:00] schalkventer commented on #9
Go for it @Lali-Sed!

[2020-10-03 11:01] schalkventer commented on #61
Go for it @joshramsbottom

[2020-10-03 11:03] zoidyzoidzoid commented on #62
I tried to do this one, and Tesseract 4 didn't manage to OCR it well.

I'll come back to it, but someone else can feel free to grab it and have a try in the mean time.

[2020-10-03 11:03] rmaclean commented on #63
I'll try this one

[2020-10-03 11:06] #7 closed

[2020-10-03 11:08] #78 closed

[2020-10-03 11:13] tristynferreiro commented on #79
I'll take this one!

[2020-10-03 11:18] rmaclean commented on #72
I'll grab this one

[2020-10-03 11:19] rmaclean commented on #72
There are no tables in this document :/
Looks like a statement, don't think there is anything to do with it

[2020-10-03 11:19] douglas86 commented on #74
hey, i will take this one

[2020-10-03 11:19] rmaclean commented on #73
I'll grab this one

[2020-10-03 11:21] carlvdm commented on #69
Hi! :wave:
May I grab this one please? :slightly_smiling_face:

[2020-10-03 11:22] schalkventer commented on #53
Good work! Thanks @capesean!

[2020-10-03 11:23] #53 closed

[2020-10-03 11:24] tristynferreiro commented on #38
I'll take this one

[2020-10-03 11:24] Lean3Viljoen94 commented on #107
I might not get to this one today, my SASSA file is massive. Unassigning myself incase someone else can pick it up

[2020-10-03 11:25] Lean3Viljoen94 commented on #109
Might not get to this one today, unassigning myself incase someone else can pick it up

[2020-10-03 11:33] douglas86 commented on #68
Hey, can i take this one.

[2020-10-03 11:35] martink-rsa commented on #109
I'll take it.

[2020-10-03 11:35] enemkaywun commented on #12
hi please assign this to me

[2020-10-03 11:38] carlvdm commented on #69
https://github.com/South-Africa-Government-Procurement/Data-cleaning/pull/172 :slightly_smiling_face:

[2020-10-03 11:41] schalkventer commented on #69
Go for it @carlvdm!

[2020-10-03 11:41] douglas86 commented on #67
Hey, can i take this one.

[2020-10-03 11:41] carlvdm commented on #54
May I grab this one? :)

[2020-10-03 11:41] schalkventer commented on #12
All yours @enemkaywun

[2020-10-03 11:41] schalkventer commented on #109
Assigned to you now @martink-rsa

[2020-10-03 11:42] schalkventer commented on #38
All yours @candidcreature

[2020-10-03 11:43] schalkventer commented on #54
All yours @carlvdm

[2020-10-03 11:43] schalkventer commented on #72
@jbothma Happy if I close this one?

[2020-10-03 11:45] carlvdm commented on #54
In this case there are 2 tables with identical contents.

May I upload it only once instead of duplicated?
It appears that they're answering the two questions with the same answer.

![Screenshot from 2020-10-03 13-42-40](https://user-images.githubusercontent.com/25169028/94990729-8d535900-057e-11eb-8f59-927dff33203b.png)
![Screenshot from 2020-10-03 13-42-44](https://user-images.githubusercontent.

[2020-10-03 11:47] douglas86 commented on #66
Hey, can i take this one.

[2020-10-03 11:49] Lali-Sed commented on #1
Hey, can I do this one

[2020-10-03 11:49] schalkneethling commented on #107
@schalkventer I can grab this one

[2020-10-03 11:54] Lali-Sed commented on #18
Hi there, can I do this one?

[2020-10-03 11:55] douglas86 commented on #65
Hey, can i take this one.

[2020-10-03 11:57] martink-rsa commented on #64
I've got this please

[2020-10-03 12:00] carlvdm commented on #52
May I grab this one?

[2020-10-03 12:03] NicolaasJKotze commented on #23
I will do this one.

[2020-10-03 12:04] Lali-Sed commented on #18
Hi Schalk, for documents that have multiple tables, do I create pull requests for each table with the same name and document number?

[2020-10-03 12:04] carlvdm commented on #52
https://github.com/South-Africa-Government-Procurement/Data-cleaning/pull/182 :slightly_smiling_face:

[2020-10-03 12:04] douglas86 commented on #60
Hey, can i take this one.

[2020-10-03 12:05] carlvdm commented on #50
Ah this one is image-based and Tabula won't be able to read it:

![Screenshot from 2020-10-03 14-06-25](https://user-images.githubusercontent.com/25169028/94991197-bf19ef00-0581-11eb-93cf-9b2cfd4cd9d3.png)

[2020-10-03 12:08] enemkaywun commented on #15
please assign this one to me?

[2020-10-03 12:09] carlvdm commented on #48
May I grab this one? :slightly_smiling_face:

[2020-10-03 12:11] Baadier-Sydow commented on #59
@jbothma can i pick this one up?

[2020-10-03 12:17] carlvdm commented on #48
Do you want us to remove these top rows?
![Screenshot from 2020-10-03 14-11-09](https://user-images.githubusercontent.com/25169028/94991397-3734e480-0583-11eb-800a-acda6d24fce7.png)

[2020-10-03 12:30] schalkventer commented on #59
@Baadier-Sydow all yours!

[2020-10-03 12:36] martink-rsa commented on #109
https://github.com/South-Africa-Government-Procurement/Data-cleaning/pull/186

[2020-10-03 12:36] jbothma commented on #72
Agreed - Looks like a cover letter

![Screenshot_2020-10-03_14-36-15](https://user-images.githubusercontent.com/235801/94991823-d1962780-0585-11eb-81d0-43fc1fdb2a46.png)

[2020-10-03 12:36] martink-rsa commented on #64
https://github.com/South-Africa-Government-Procurement/Data-cleaning/pull/186

[2020-10-03 12:37] #72 closed

[2020-10-03 12:40] Chantevdw commented on #49
Can I do this one

[2020-10-03 12:42] #65 closed

[2020-10-03 12:44] zacharlie commented on #16
I can do this one, but I have a couple of quick questions...

You guys mention that [multiple tables with the same column structure can be merged](https://github.com/South-Africa-Government-Procurement/Data-cleaning#should-we-put-different-tables-into-different-csvs) but don't indicate whether to insert a new column for the table name (in this case, the Tender ID).

I feel like that's introducing

[2020-10-03 12:44] carlvdm commented on #48
https://github.com/South-Africa-Government-Procurement/Data-cleaning/pull/190 :slightly_smiling_face:

[2020-10-03 12:45] Chantevdw commented on #49
I get this error from Tabula:
![image](https://user-images.githubusercontent.com/20510657/94991991-0b1b6280-0587-11eb-9fbe-e3b0cab4a598.png)

[2020-10-03 12:46] carlvdm commented on #46
May I grab this one? :)

[2020-10-03 12:48] Chantevdw commented on #58
Can I take this one

[2020-10-03 12:50] douglas86 commented on #57
hey, can i take this one.

[2020-10-03 12:50] jbothma commented on #49
Does this help you?

https://github.com/South-Africa-Government-Procurement/Data-cleaning/blob/master/README.md#tabula-gives-me-the-following-error-for-the-pdf-sorry-your-pdf-file-is-image-based-it-does-not-have-any-embedded-text-it-might-have-been-scanned-from-paper-tabula-isnt-able-to-extract-any-data-from-image-based-pdfs-click-the-help-button-for-more-information

[2020-10-03 12:53] carlvdm commented on #46
https://github.com/South-Africa-Government-Procurement/Data-cleaning/pull/197 :slightly_smiling_face:

[2020-10-03 12:56] jbothma commented on #49
[WOMEN YOUTH AND PERSONS WITH DISABILITY - REPORT ON COVID 19 SPENT 07082020-OCRd.pdf](https://github.com/South-Africa-Government-Procurement/Data-cleaning/files/5321667/WOMEN.YOUTH.AND.PERSONS.WITH.DISABILITY.-.REPORT.ON.COVID.19.SPENT.07082020-OCRd.pdf)

[2020-10-03 12:57] douglas86 commented on #51
hey, can i take this one.

[2020-10-03 13:03] douglas86 commented on #44
Hey, can i take this one.

[2020-10-03 13:06] jbothma commented on #16
That's exactly what we'd like people to do (without the data loss!)

We would like people to add a column to distinguish the rows from tables in different section headings.

Would you mind adding that ot the README? https://github.com/South-Africa-Government-Procurement/Data-cleaning

[2020-10-03 13:09] douglas86 commented on #43
Hey, can i take this one.

[2020-10-03 13:13] BiancaOliver commented on #17
hey, can I take this one?

[2020-10-03 13:15] carlvdm commented on #22
Can I grab this one?

There are 2 tables, do you want them uploaded separately?

![Screenshot from 2020-10-03 15-14-32](https://user-images.githubusercontent.com/25169028/94992573-3f911d80-058b-11eb-9781-09ab554a9444.png)
![Screenshot from 2020-10-03 15-14-34](https://user-images.githubusercontent.com/25169028/94992575-41f37780-058b-11eb-86d2-196c7f1b807a.png)

[2020-10-03 13:24] carlvdm commented on #22
https://github.com/South-Africa-Government-Procurement/Data-cleaning/pull/222 :slightly_smiling_face:

[2020-10-03 13:25] schalkventer commented on #17
@BiancaOliver go for it!

[2020-10-03 13:27] carlvdm commented on #31
Hi! Could I do this one please? :)

[2020-10-03 13:32] carlvdm commented on #31
https://github.com/South-Africa-Government-Procurement/Data-cleaning/pull/229 :slightly_smiling_face:

[2020-10-03 13:35] douglas86 commented on #40
Hey, can i take this one

[2020-10-03 13:39] samKenpachi011 commented on #25
Working on this one

[2020-10-03 13:40] TeeOli commented on #98
May i take this one?

[2020-10-03 13:53] MarlaWillemse commented on #41
I'll do this one.

[2020-10-03 14:01] douglas86 commented on #35
Hey, can i take this one.

[2020-10-03 14:08] MarlaWillemse commented on #32
May I do this one?

[2020-10-03 14:09] MarlaWillemse commented on #33
May I do this one?

[2020-10-03 14:12] MarlaWillemse commented on #34
May I do this one?

[2020-10-03 14:13] MarlaWillemse commented on #26
May I do this one?

[2020-10-03 14:17] zacharlie commented on #24
I'll take this one

[2020-10-03 14:18] jbothma commented on #23
[Western Cape Government - Covid-19 Reporting Presidency verified info-OCRd.pdf](https://github.com/South-Africa-Government-Procurement/Data-cleaning/files/5321811/Western.Cape.Government.-.Covid-19.Reporting.Presidency.verified.info-OCRd.pdf)

[2020-10-03 14:46] Chantevdw commented on #49
Thanks @jbothma

The data when exported is quite messed up.

![image](https://user-images.githubusercontent.com/20510657/94994466-0317ee80-0598-11eb-898b-3dc6dc53f82e.png)

[2020-10-03 14:50] schalkventer commented on #32
Go for it @MarlaWillemse !

[2020-10-03 15:15] #21 closed

[2020-10-03 15:17] jbothma commented on #16
reviewing

[2020-10-03 15:19] #16 closed

[2020-10-03 15:20] Chantevdw commented on #109
reviewing

[2020-10-03 15:21] #89 closed

[2020-10-03 15:26] MarlaWillemse commented on #26
There's no purchase data in this one.

[2020-10-03 15:43] #71 closed

[2020-10-03 16:03] jbothma commented on #95
could you fill down the supplier name? Since there's an order amount for each item, we'd like a complete record (including supplier name) - for each item - but then we should fill down so that the supplier is actually tied to each item.

https://github.com/South-Africa-Government-Procurement/Data-cleaning#what-should-i-do-if-there-are-merged-cells-that-should-be-split

![Screenshot_2020-10-03_17-5

[2020-10-03 16:22] Chantevdw commented on #108
Reviewing

[2020-10-03 21:50] zacharlie commented on #24
Sincerest apologies and I hope this doesn't become a blocker for anyone else, but something came up and this ended up being rather challenging to process. The tabular data needs a lot of work and the OCR is not 100% so you really have to pay attention and make numerous manual fixes. Something came up so I couldn't dedicate the required time to get it up. I did some of the tables and have pushed dr

[2020-10-03 21:51] zacharlie commented on #24
[KZN PROVINCIAL GOVERNMENT - Procurement Disclosure-OCRd.pdf](https://github.com/South-Africa-Government-Procurement/Data-cleaning/files/5322342/KZN.PROVINCIAL.GOVERNMENT.-.Procurement.Disclosure-OCRd.pdf)

[2020-10-04 12:49] rudithefox commented on #102
This doc does not actually contain any tables. Can create one using the whitespaces, just not sure if they should all be added to one file and/or whether I should add any headings?

I have attached an image of the current CSV alongside the PDF for reference:
![current_csv](https://user-images.githubusercontent.com/66137091/95016032-c2c87700-0650-11eb-8ed8-b09e337da095.jpg)

[2020-10-10 13:28] #14 closed

[2020-10-10 13:48] #61 closed

[2020-10-15 19:39] JonathanAspeling commented on #4
https://github.com/South-Africa-Government-Procurement/data-quirks/issues/10

Quirk raised ^^^^

[2020-10-15 20:17] jbothma commented on #7
This is now on https://keepthereceipts.org.za/?implementation_location_province=Free+State

[2020-10-15 20:17] jbothma commented on #9
This is now on https://keepthereceipts.org.za/?implementation_location_province=Free+State

[2020-10-15 20:17] jbothma commented on #15
This is now on https://keepthereceipts.org.za/?implementation_location_province=Free+State

[2020-10-17 13:42] jbothma commented on #14
Thanks! This is now at https://keepthereceipts.org.za/?implementation_location_province=Free+State&buyer_name=Free+State+Department+of+Police%2C+Roads+and+Transport

[2020-10-17 13:47] JonathanAspeling commented on #4
Geeze getting there - done for today but almost 1/2 way with this file XD

[2020-10-18 11:22] jbothma commented on #16
Thanks! This is now live at https://keepthereceipts.org.za/

[2020-10-18 11:53] #19 closed

[2020-10-18 12:00] jbothma commented on #11
This is an interesting case - looks like we should clarify the documentation (I probably didn't pay attention properly if you asked):

- We don't want total rows
- We do want total columns - the Free State often provide this breakdown of committed (order_amount_zar) and paid/unpaid split. We want the total in this case.

Do you mind including the final column after all?

![Screenshot_2020-10-18_13

[2020-10-18 12:13] jbothma commented on #11
Looks like the last row is shifted to the left - could you fix that?

![Screenshot_2020-10-18_14-11-19](https://user-images.githubusercontent.com/235801/96367073-efe65080-114b-11eb-9daf-671f89959861.png)

[2020-10-18 12:21] jbothma commented on #11
In this case the item description needs to be filled down.

We need a row for each unique

- supplier
- order amount
- buyer
- order number (this is often not provided but we wouldn't merge the same supplier coming up twice in a table into one row - distinct rows imply distinct orders)

![Screenshot_2020-10-18_14-18-53](https://user-images.githubusercontent.com/235801/96367236-dc87b500-114c-11eb-9

[2020-10-18 12:31] jbothma commented on #11
Looks like the quantity column in one table aligned with a cost column in another table

![Screenshot_2020-10-18_14-30-45](https://user-images.githubusercontent.com/235801/96367510-93d0fb80-114e-11eb-814c-e51d67536886.png)
![Screenshot_2020-10-18_14-30-34](https://user-images.githubusercontent.com/235801/96367511-959abf00-114e-11eb-916e-52a99f20e00f.png)

[2020-10-18 15:25] jbothma commented on #10
Thanks!

[2020-10-18 15:25] #10 closed

[2020-10-18 15:26] jbothma commented on #12
Thanks!

[2020-10-18 15:26] #12 closed

[2020-10-18 15:33] jbothma commented on #17
Thanks!

[2020-10-18 15:33] #17 closed

[2020-10-18 15:43] jbothma commented on #8
Thanks!

[2020-10-18 15:43] #8 closed

[2020-10-18 16:04] jbothma commented on #8
Thanks, this is now live at https://keepthereceipts.org.za/?implementation_location_province=Free+State&buyer_name=Free+State+Department+of+Cooperative+Governance+and+Traditional+Affairs

[2020-10-18 17:37] jbothma commented on #19
Thanks! This is now available at https://keepthereceipts.org.za/?implementation_location_province=Free+State&buyer_name=Free+State+Department+of+Sports%2C+Arts%2C+Culture+and+Recreation

[2020-10-18 17:45] jbothma commented on #13
Thanks! This is now available at https://keepthereceipts.org.za/?implementation_location_province=Free+State&buyer_name=Free+State+Office+of+the+Premier

[2020-10-18 18:01] jbothma commented on #10
This is now available at https://keepthereceipts.org.za/?implementation_location_province=Free+State&buyer_name=Free+State+Department+of+Education

[2020-10-18 18:14] jbothma commented on #17
@BiancaOliver would you by any chance have time and be interested in formatting this like https://github.com/keep-the-receipts/data-extraction/blob/d7c78d558161fadf1d24d8519a248892c1d9dfcc/Provincial%20Government/Free%20State/Public%20Works%20and%20Infrastructure/STATE-OWNED%20RESORTS%20REFURBISHED.csv ?

This involves

- splitting each distinct table out to its own file
- formatting ZAR amounts l

[2020-10-18 18:18] jbothma commented on #17
The first file is available at https://keepthereceipts.org.za/?implementation_location_province=Free+State&buyer_name=Free+State+Department+of+Public+Works

[2020-10-21 06:17] jbothma commented on #11
I wonder if each table is a hospital. But I don't see headings suggesting that.

Would be cool to ask them.

[2020-10-21 06:26] jbothma commented on #11
missed the last row of the last table but I'll add it

[2020-10-21 06:31] #11 closed

[2020-10-22 22:58] Fruitymo commented on #24
May I continue where @zacharlie left off? Looks like it’s the only unassigned issue

[2020-10-23 06:23] zacharlie commented on #24
@Fruitymo It was completed in #257 and should probably be reassigned to me.

But this one is a bit challenging because of the volume of data and the OCR processing, which was rife with errors. As described in the PR, I recommend that this particular sheet be manually cross referenced with the original PDF and the latest existing dataset I submitted, row by row.

That should perhaps be a new issue

[2020-10-24 09:14] #98 closed

[2020-10-24 10:28] AMdleleni opened #272 "Move GAUTENG PROVINCIAL GOVERNMENT-Economic Development.csv to Gauteng Folder"
Move GAUTENG PROVINCIAL GOVERNMENT-Economic Development.csv to Gauteng Folder

[2020-10-24 10:58] vrautenbach commented on #1
Thanks for the work so far, @Lali-Sed

If you maybe have some time, can you create a PR for the other tables. I see the following still need to be extracted:
- Health Quarantine Facilities
- Economic Development, Environment, Conservation and Tourism
- Provincial Treasury
- Education
- Social Development
- Social Relief For Distress

Would you be up for this? Thanks

[2020-10-24 11:02] #75 closed

[2020-10-24 11:04] #28 closed

[2020-10-24 11:05] #30 closed

[2020-10-24 11:07] #37 closed

[2020-10-24 11:10] #86 closed

[2020-10-24 11:19] #77 closed

[2020-10-24 12:01] AMdleleni opened #275 "Move Gauteng Province files to Gauteng Province"
move all Gauteng related files from main folder to Gauteng Province

[2020-10-24 12:16] AMdleleni opened #277 "Move North West files to North West Province Folder"
Move North West files to North West Province Folder

[2020-10-24 12:35] AMdleleni opened #279 "Move Free State Files to Free State Province Folder"
Move Free State Files to Free State Province Folder

[2020-10-24 12:39] #23 closed

[2020-10-24 12:43] #64 closed

[2020-10-24 12:47] #109 closed

[2020-10-24 12:56] #105 closed

[2020-10-24 12:58] AMdleleni opened #281 "Specific departments for all the provinces"
Create department specific folders for all files in each province

[2020-10-24 13:02] #103 closed

[2020-10-24 13:07] #83 closed

[2020-10-24 13:11] AMdleleni opened #283 "Move SASSA files to SASSA folder"
move SASSA files to specific folder in national folder

[2020-10-24 13:25] #49 closed

[2020-10-24 13:37] AMdleleni opened #285 "Move files to their respective departments in the National Department Folder"
Move files to their respective departments in the national department folder

[2020-10-24 14:18] #58 closed

[2020-10-24 14:21] #283 closed

[2020-10-24 14:21] #272 closed

[2020-10-24 14:21] #281 closed

[2020-10-24 14:21] #279 closed

[2020-10-24 14:21] #277 closed

[2020-10-24 14:21] #275 closed

[2020-10-24 14:22] #285 closed

[2020-10-24 14:49] JonathanAspeling commented on #4
Cool that's the lot XD Shoe!

[2020-10-24 15:37] jbothma commented on #11
Started uploading this

[2020-10-24 16:27] jbothma commented on #11
Done the first file but distracted by bugs and adding a couple of new fields for this dataset in the backend. The first file is available at https://keepthereceipts.org.za/?implementation_location_province=Free+State&buyer_name=Free+State+Department+of+Health so long.

[2020-10-25 08:55] Lali-Sed commented on #1
Sure @vrautenbach,
Will get on it this week.

[2020-10-26 16:16] jbothma commented on #1
Hi Lali - looks like these were all uploaded with the same name - could you give each table a different file name? you can edit the name when editing the file here

[2020-10-26 16:31] jbothma commented on #63
Sorry about the delay!

Looks like a bit of hidden text from the first column ended up in the supplier name column. It turns out truncated cells saved as PDF sometimes still ends up in the PDF an then makes a mess of the extraction like this. Do you mind fixing?

![Screenshot_2020-10-26_18-29-46](https://user-images.githubusercontent.com/235801/97199942-46413800-17b9-11eb-94cb-b1f0969339c8.png)
![

[2020-10-26 22:20] #79 closed

[2020-10-27 11:00] Lali-Sed commented on #1
Hi JD,
I tried editing the file names but it won't allow me to make the edits to the merged files. Do I need to be granted access to be able to make the edits?

[2020-10-27 11:03] Lali-Sed opened #301 "Hi Lali - looks like these were all uploaded with the same name - could you give each table a different file name? you can edit the name when editing the file here"
Hi Lali - looks like these were all uploaded with the same name - could you give each table a different file name? you can edit the name when editing the file here

_Originally posted by @jbothma in https://github.com/keep-the-receipts/data-extraction/issues/1#issuecomment-716657333_

[2020-10-29 08:51] tristynferreiro commented on #69
Uploading

[2020-10-29 20:28] tristynferreiro commented on #69
Uploaded *pops champagne*

[2020-10-29 20:57] tristynferreiro commented on #46
Uploaded! *pops the champagne*

[2020-10-29 21:15] tristynferreiro commented on #66
uploaded! *pops champagne*

[2020-10-29 21:25] douglas86 commented on #66
Does that mean that this pr has been merged.

[2020-10-30 07:22] tristynferreiro commented on #66
It's been uploaded to keepthereciepts

[2020-10-30 07:41] tristynferreiro commented on #74
uploaded!

[2020-10-30 07:41] #74 closed

[2020-10-30 07:41] #66 closed

[2020-10-30 07:41] #46 closed

[2020-10-30 07:42] #69 closed

[2020-10-30 08:50] jbothma commented on #16
visually seems to be the same data as #15 just  republish of the same tender bulletin

[2020-10-30 10:10] tristynferreiro commented on #15
We are not uploading this file since it is a duplicate of a file that has already been uploaded https://github.com/keep-the-receipts/data-extraction/blob/master/Provincial%20Government/Free%20State/Provincial%20Treasury/FREE%20STATE%20FINANCE%20TENDER%20BULLETIN%20-%201%20–%20pass%201.csv issue #16

[2020-10-30 10:46] #15 closed

[2020-11-02 16:01] jbothma commented on #56
![Uploading Screenshot_2020-11-02_18-01-15.png…]()

[2020-11-02 17:57] tristynferreiro commented on #56
Uploaded!

[2020-11-02 17:57] #56 closed

[2020-11-03 13:40] tristynferreiro commented on #68
Uploaded :D

[2020-11-03 13:40] #68 closed

[2020-11-05 09:08] tristynferreiro commented on #52
Uploaded!

[2020-11-05 09:08] #52 closed

[2020-11-05 10:29] tristynferreiro commented on #105
Uploaded

[2020-11-05 20:53] tristynferreiro commented on #98
Uploaded!

[2020-11-05 21:00] tristynferreiro commented on #80
Uploaded!

[2020-11-05 21:02] #80 closed

[2020-11-05 21:16] tristynferreiro commented on #79
Uploaded!

[2020-11-06 20:28] tristynferreiro commented on #91
Uploaded

[2020-11-06 20:28] #91 closed

[2020-11-06 20:34] tristynferreiro commented on #49
Uploaded!

[2020-11-06 20:41] tristynferreiro commented on #86
Uploaded!

[2020-11-07 16:55] tristynferreiro commented on #104
Uploaded

[2020-11-07 16:55] #104 closed

[2020-11-07 18:20] tristynferreiro commented on #103
Uploaded!

[2020-11-07 18:42] tristynferreiro commented on #76
Uploaded

[2020-11-07 18:42] #76 closed

[2020-11-07 20:22] tristynferreiro commented on #108
I fixed the issues in the EC and KZN tables and merged

[2020-11-07 20:31] tristynferreiro commented on #108
The above three PRs are the three missing tables. I have extracted all three of them.

[2020-11-08 11:41] tristynferreiro commented on #108
Uploaded GP to keepthereciepts

[2020-11-08 11:50] tristynferreiro commented on #108
Uploaded Table 2 (standard orders)

[2020-11-08 11:57] tristynferreiro commented on #108
Uploaded NW table

[2020-11-08 12:08] tristynferreiro commented on #108
Uploaded table 4

[2020-11-08 12:17] tristynferreiro commented on #108
Uploaded KZN table

[2020-11-08 17:51] candidcreature commented on #108
Uploaded FS

[2020-11-08 17:54] tristynferreiro commented on #108
Uploaded FS

[2020-11-08 18:03] tristynferreiro commented on #108
Uploaded HO

[2020-11-08 18:13] tristynferreiro commented on #108
Uploaded WC

[2020-11-08 18:24] tristynferreiro commented on #108
Uploaded NC

[2020-11-08 18:32] tristynferreiro commented on #108
Uploaded EC

[2020-11-08 18:43] tristynferreiro commented on #108
All uploaded :D!

[2020-11-08 18:43] #108 closed

[2020-11-09 09:46] tristynferreiro commented on #58
Uploaded!

[2020-11-09 09:53] tristynferreiro commented on #54
Uploaded :D

[2020-11-09 09:53] #54 closed

[2020-11-09 09:57] tristynferreiro commented on #75
Uploaded goods and services

[2020-11-09 10:04] tristynferreiro commented on #75
Uploaded decontamination

[2020-11-09 10:34] tristynferreiro commented on #73
Uploaded!

[2020-11-09 10:34] #73 closed

[2020-11-09 11:23] tristynferreiro commented on #51
Uploaded!

[2020-11-09 11:23] #51 closed

[2020-11-12 15:23] tristynferreiro commented on #11
Uploaded table 2

[2020-11-12 15:31] tristynferreiro commented on #11
Uploaded table 3

[2020-11-12 17:47] tristynferreiro commented on #11
uploaded table 4

[2020-11-12 18:14] tristynferreiro commented on #11
uploaded table 5

[2020-11-12 18:20] tristynferreiro commented on #11
uploaded table 6

[2020-11-12 18:52] tristynferreiro commented on #11
uploaded table 7

[2020-11-12 22:25] tristynferreiro commented on #96
Uploaded

[2020-11-12 22:25] #96 closed

[2020-11-12 22:57] tristynferreiro commented on #90
uploaded

[2020-11-12 22:57] #90 closed

[2020-11-12 23:19] tristynferreiro commented on #85
Uploaded

[2020-11-12 23:42] tristynferreiro commented on #106
Uploaded

[2020-11-12 23:42] #106 closed

[2020-11-13 00:05] tristynferreiro commented on #71
Uploaded

[2020-11-13 00:32] tristynferreiro commented on #70
Uploaded PPE

[2020-11-13 00:41] tristynferreiro commented on #70
uploaded PPE other

[2020-11-13 00:41] #70 closed

[2020-11-13 01:23] tristynferreiro commented on #12
Uploaded

[2020-11-13 13:39] tristynferreiro commented on #64
Uploaded

[2020-11-25 14:12] tristynferreiro commented on #17
Uploaded disinfection table

[2020-11-25 14:16] tristynferreiro commented on #17
Uploaded privately owned sites and expenditure

[2020-11-25 14:19] tristynferreiro commented on #17
Uploaded construction of field hospital table

[2020-11-25 14:21] tristynferreiro commented on #17
Uploaded security companies appointed table

[2020-11-25 15:00] tristynferreiro commented on #48
Uploaded

[2020-11-25 19:05] #48 closed

[2020-11-26 01:40] tristynferreiro commented on #50
Uploaded table 1/3

[2020-11-26 01:47] tristynferreiro commented on #50
Uploaded 2/3

[2020-11-26 01:49] tristynferreiro commented on #50
uploaded 3/3

[2020-11-26 01:49] #50 closed

[2020-11-26 18:40] tristynferreiro commented on #53
uploaded table 1

[2020-11-26 18:50] tristynferreiro commented on #53
Uploaded tbl 2

[2020-11-26 19:01] tristynferreiro commented on #53
Uploaded tbl 3

[2020-11-26 19:08] tristynferreiro commented on #53
uploaded tbl 4

[2020-11-26 20:06] tristynferreiro commented on #57
Uploaded

[2020-11-26 20:06] #57 closed

[2020-11-28 04:19] #107 closed

[2020-11-28 04:46] tristynferreiro commented on #107
Uploaded both

[2020-11-28 10:13] tristynferreiro commented on #95
Uploaded table 1

[2020-11-28 10:16] tristynferreiro commented on #95
Uploaded table 2

[2020-11-28 10:17] #95 closed

[2020-11-28 11:15] tristynferreiro commented on #87
Uploaded

[2020-11-28 11:15] #87 closed

[2020-11-28 11:56] tristynferreiro commented on #82
Uploaded

[2020-11-28 11:56] #82 closed

[2020-11-28 12:21] tristynferreiro commented on #61
Uploaded

[2020-11-28 13:34] tristynferreiro commented on #63
Uploaded

[2020-11-28 13:34] #63 closed

[2020-12-01 13:23] tristynferreiro commented on #60
Uploaded KZN

[2020-12-01 13:35] tristynferreiro commented on #60
Uploaded Head Office

[2020-12-01 15:09] tristynferreiro commented on #60
Uploaded Western Cape

[2020-12-02 11:46] tristynferreiro commented on #60
uploaded Gauteng

[2020-12-02 12:45] tristynferreiro commented on #60
Upload EC

[2020-12-02 12:51] tristynferreiro commented on #60
Uploaded

[2020-12-02 12:51] #60 closed

[2020-12-02 13:13] tristynferreiro commented on #67
Uploaded

[2020-12-02 13:13] #67 closed

[2020-12-02 15:18] tristynferreiro commented on #78
uploaded

[2020-12-02 15:22] tristynferreiro commented on #101
Uploaded pages 1-3

[2020-12-02 15:32] tristynferreiro commented on #101
Uploaded buyer 4

[2020-12-02 15:51] tristynferreiro commented on #101
Uploaded buyer 10

[2020-12-02 16:00] tristynferreiro commented on #101
Uploaded buyer 11

[2020-12-02 16:17] tristynferreiro commented on #101
Uploaded buyer 12

[2020-12-02 16:28] tristynferreiro commented on #101
Uploaded buyer 14

[2020-12-02 17:02] tristynferreiro commented on #101
uploaded buyer 16

[2020-12-02 17:27] tristynferreiro commented on #101
Uploaded buyers 1,2,3,6,8,9,13,15,17

[2020-12-02 17:27] tristynferreiro commented on #101
Buyers 18 and 5 didn't have tables to extract

[2020-12-02 17:27] #101 closed

[2020-12-02 17:50] tristynferreiro commented on #88
Uploaded

[2020-12-02 17:50] #88 closed

[2020-12-02 17:58] tristynferreiro commented on #84
[Uploading ARC - Procurement of PPEs Report 07.08.2020 - OCR.pdf…]()

[2020-12-02 18:23] tristynferreiro commented on #94
This is just a summary

[2020-12-02 18:23] #94 closed

[2020-12-02 20:27] tristynferreiro commented on #89
Uploaded

[2020-12-02 20:34] tristynferreiro commented on #93
Uploaded

[2020-12-02 20:34] #93 closed

[2020-12-02 20:42] #84 closed

[2020-12-02 20:43] tristynferreiro commented on #84
Uploaded

[2020-12-03 00:47] tristynferreiro commented on #100
Uploaded last table

[2020-12-03 00:49] tristynferreiro commented on #100
Uploaded

[2020-12-03 00:49] #100 closed

[2020-12-03 10:51] tristynferreiro commented on #26
Uploaded

[2020-12-03 10:51] #26 closed

[2020-12-04 14:15] tristynferreiro commented on #81
Uploaded

[2020-12-04 14:15] #81 closed

[2020-12-04 15:09] tristynferreiro commented on #99
Uploaded pg 1-3

[2020-12-06 11:50] tristynferreiro commented on #99
uploaded SEDA table

[2020-12-06 11:58] tristynferreiro commented on #99
Uploaded

[2020-12-06 11:58] #99 closed

[2020-12-06 12:31] tristynferreiro commented on #21
Uploaded

[2020-12-06 12:49] tristynferreiro commented on #59
Uploaded

[2020-12-06 12:49] #59 closed

[2020-12-06 13:10] tristynferreiro commented on #55
uploaded

[2020-12-06 13:10] #55 closed

[2020-12-06 13:41] jbothma commented on #2
https://github.com/keep-the-receipts/data-extraction/blob/master/Provincial%20Government/North%20West/north-west-pass-1.csv

[2020-12-06 14:01] tristynferreiro commented on #23
Uploaded

[2020-12-06 19:31] tristynferreiro commented on #25
Uploaded

[2020-12-06 19:31] #25 closed

[2020-12-06 22:19] tristynferreiro commented on #42
Uploaded

[2020-12-07 11:41] tristynferreiro commented on #97
Uploaded

[2020-12-07 11:41] #97 closed

[2020-12-07 13:15] jbothma commented on #22
These are the tables we need

![Screenshot_2020-12-07_15-14-23](https://user-images.githubusercontent.com/235801/101355272-02088380-389f-11eb-894a-99d081e42b12.png)
![Screenshot_2020-12-07_15-14-04](https://user-images.githubusercontent.com/235801/101355275-0339b080-389f-11eb-86b8-8edcc5feae06.png)

![Screenshot_2020-12-07_15-14-54](https://user-images.githubusercontent.com/235801/101355257-ff0d93

[2020-12-08 20:14] tristynferreiro commented on #5
This is a duplicate of Issue 4, I have closed all these PR's

[2020-12-08 20:14] #5 closed

[2020-12-10 15:22] tristynferreiro commented on #22
Uploaded DOH tables

[2020-12-10 15:23] tristynferreiro commented on #22
Uploaded tables starting pg 42

[2020-12-10 15:24] tristynferreiro commented on #22
Uploaded tables starting pg 6

[2020-12-10 15:26] tristynferreiro commented on #22
Uploaded supplier list tables

[2020-12-10 15:26] #22 closed

[2020-12-10 15:58] tristynferreiro commented on #20
uploaded provincial treasury

[2020-12-10 16:13] tristynferreiro commented on #20
uploaded Gauteng Department of Agriculture and Rural Development

[2020-12-11 10:17] tristynferreiro commented on #20
Uploaded CoGTA

[2020-12-11 10:25] tristynferreiro commented on #20
Uploaded eGovernment

[2020-12-11 10:46] tristynferreiro commented on #20
Uploaded gfleet

[2020-12-11 11:05] tristynferreiro commented on #20
Uploaded Department of Soc Dev

[2020-12-11 11:14] tristynferreiro commented on #20
Uploaded Department of Soc Dev transversal

[2020-12-11 11:24] tristynferreiro commented on #20
uploaded ppe procured through DOH

[2020-12-11 14:17] tristynferreiro commented on #20
uploaded economic development

[2020-12-11 14:39] tristynferreiro commented on #20
uploaded GIFA

[2020-12-11 14:52] tristynferreiro commented on #20
uploaded GMA

[2020-12-11 15:07] tristynferreiro commented on #20
uploaded DOH ppe

[2020-12-11 17:01] tristynferreiro commented on #20
uploaded DOH without pos

[2020-12-11 17:07] tristynferreiro commented on #20
Uploaded DOH medical equipment

[2020-12-11 17:31] tristynferreiro commented on #20
Uploaded other and infrastructure

[2020-12-11 17:52] tristynferreiro commented on #20
uploaded community safety

[2020-12-11 17:58] tristynferreiro commented on #20
uploaded DOE

[2020-12-11 18:12] tristynferreiro commented on #20
Uploaded premier

[2020-12-11 18:12] #20 closed

[2020-12-12 10:12] tristynferreiro commented on #27
Uploaded

[2020-12-12 10:12] #27 closed

[2020-12-12 11:31] tristynferreiro commented on #42
Uploaded Infrastructure

[2020-12-12 11:32] tristynferreiro commented on #42
Uploaded expenditure per provincial department

[2020-12-12 18:13] tristynferreiro commented on #4
Uploaded

[2020-12-12 18:13] #4 closed

[2020-12-12 18:54] tristynferreiro commented on #62
Uploaded

[2020-12-12 18:54] #62 closed

[2020-12-13 00:45] tristynferreiro commented on #47
Uploaded

[2020-12-13 00:45] #47 closed